---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import cheerio from "cheerio";

const resources = [
  {
    link: "https://squoosh.app/",
    title: "Squoosh",
    description: "Optimiza imagenes",
  },
  {
    link: "https://tinypng.com/",
    title: "Tinypng",
    description: "Optimiza imagenes",
  },
  {
    link: "https://coolors.co/",
    title: "Coolors",
    description: "Optimiza Genera paletas de colroes",
  },
];

// TODO: Cachear las peticiones
const getImageOG = async (url: string) => {
  const response = await fetch(url);
  if (!response.ok) {
    throw new Error(`Error en la solicitud HTTP: ${response.status}`);
  }
  const html = await response.text();
  const $ = cheerio.load(html);
  const ogImage = $('meta[property="og:image"]').attr("content");
  return ogImage;
};

const fullResourcesData = await Promise.all(
  resources.map(async (resource) => {
    const ogImage = await getImageOG(resource.link);
    return {
      ...resource,
      ogImage,
    };
  })
);
---

<Layout title="Welcome to Astro.">
  <main>
    <h1><span class="text-title">LinkHub</span></h1>
    <p class="text-description">
      Encuentra las mejores herramientas de desarrollo
    </p>
    <ul role="list" class="link-card-grid">
      {
        fullResourcesData.map((resource) => (
          <Card
            href={resource.link}
            title={resource.title}
            description={resource.description}
						imageUrl={resource.ogImage}
          />
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-title {
    /* color: #00a6ed; */
  }

  .text-description {
    font-size: 1.8rem;
    text-align: center;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(38ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
