---
import { ViewTransitions } from "astro:transitions"
import Navbar from "@components/Navbar.astro"
import Footer from "@components/Footer.astro"
import Sidebar from "@components/Sidebar.astro"
import { getSession } from 'auth-astro/server';

const session = await getSession(Astro.request)
interface Props {
  title: string
	description?: string
	image?: string
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site)
const {
	title,
	description = "Descubre LinkHub, una aplicación web de código abierto diseñada para guardar, organizar y descubrir recursos web de manera eficiente.",
	image = "/images/linkhub.jpg"
} = Astro.props
---

<!doctype html>
<html lang="es" class="dark:text-black text-white">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="generator" content={Astro.generator} />

		<!-- Canonical URL -->
		<link rel="canonical" href={canonicalURL} />

		<!-- Primary Meta Tags -->
    <title>{title}</title>
		<meta name="title" content={title} />
    <meta name="description" content={description } />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={new URL(image, Astro.url)} />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={Astro.url} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<meta property="twitter:image" content={new URL(image, Astro.url)} />

    <ViewTransitions />
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-EMQSEBG01K"></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			// eslint-disable-next-line @stylistic/ts/space-before-blocks, prefer-rest-params, semi, @stylistic/js/block-spacing, no-undef
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'G-EMQSEBG01K');
		</script>
  </head>
  <body class="flex min-h-screen flex-col bg-neutral-50 text-black dark:bg-neutral-900 dark:text-white">
		<header>
			<Navbar />
		</header>
		<div id="app" class="flex flex-wrap min-h-[85vh]">
			{
			session &&
				<Sidebar />
			}
			<main class="[grid-area:main] container mx-auto max-w-4xl flex-1 overflow-y-auto p-4 px-8 text-xl">
				<slot />
			</main>
		</div>
    <Footer />
  </body>

</html>
<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme")
  }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark"
  }
    return "light"
})()

if (theme === "light") {
    document.documentElement.classList.remove("dark")
} else {
    document.documentElement.classList.add("dark")
}
  window.localStorage.setItem("theme", theme)
</script>